html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #D3D3D3;
    padding: 2% 5% 2% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    text-align: justify;
}
#banner {
    background-color: #1b1b1b;
    padding: 5px 20px 5px 20px;
}
#logo {
    width: 200px;
    height: 100px;
}

/*********************** NAVIGATION **********************/

#navigation {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: #e31b23;
    border-top: 10px #b32024 solid;
}
#navigation .navInactive {
    padding: 10px 15px 10px 15px;
    color: #fff;
    display: inline-block;
}
#navigation .navInactive:hover {
    background-color: #b32024;
}
#navigation .navActive {
    padding: 10px 15px 10px 15px;
    background-color: #F9F9F9;
    color: #e31b23;
    display: inline-block;
}
#navigation .navInactive:active {
    background-color: #F9F9F9;
    color: #e31b23;
}

/************************ END ****************************/

#search {
    display: inline-block;
    float: right;
}
#search input {
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
}
#searchButtonInactive {
    color: #fff;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
}
#searchButtonInactive:hover {
    background-color: #b32024;
}
.introduction {
    padding-right: 40px;
}
.introduction li {
    padding-right: 40px;
}
.introduction p {
    padding-right: 40px;
}
#mainpage {
    background-color: #F9F9F9;
    padding-top: 20px;
}

/*********************************************************/

#charts {
    color: #151515;
    margin-left: 20%;
    width: 80%;
    /*border: 1px solid #1b1b1b*/
    ;
    border-collapse: collapse;
}

/*********************** ARTISTS *************************/

.artist {
    border: 4px #1b1b1b inset;
    border-right: none;
}
.artistImage {
    float: left;
    width: 262px;
    padding: 10px 5px 7px 5px;
}
.artistImage img {
    width: 252px;
}
.artistName,
.artistListeners,
.artistPlaycount {
    margin-left: 262px;
}
.artistName {
    font-size: 3em;
    text-align: center;
    background-color: #1b1b1b;
    color: #e31b23;
}
.artistName a:link {
    color: #e31b23;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.artistName a:visited {
    color: #e31b23;
}
.artistName a:hover {
    color: #fff;
}
.artistListeners {
    font-size: 1.5em;
    padding: 40px 15px 10px 40px;
}
.artistListeners:before {
    content: "Listeners: ";
    color: #1A95DA;
}
.artistPlaycount {
    font-size: 1.5em;
    padding: 40px 15px 40px 40px;
}
.artistPlaycount:before {
    content: "Play Count: ";
    color: #1A95DA;
}
.artist:nth-child(odd) {
    background-color: #d3d3d3;
}
.artist:nth-child(even) {
    background-color: #fff;
}

/************************ END ****************************/


/*********************** TRACKS **************************/

.tracks {
    vertical-align: center;
}
.tracks th {
    font-size: 1.3em;
    background-color: #1b1b1b;
    color: #e31b23;
    text-align: center;
    height: 40px;
    padding: 10px 20px 10px 20px;
}
.toptrack td {
    padding: 10px 5px 10px 20px;
}
.toptrack a:link {
    color: #151515;
    text-decoration: none;
}
.toptrack a:visited {
    color: #151515;
}
.toptrack a:hover {
    color: #fff;
}
.trackName:hover {
    background-color: #00BFFF;
}
.trackArtist:hover {
    background-color: #00BFFF;
}
.trackName a:link {
    font-style: italic;
}
.toptrack:nth-child(odd) {
    background-color: #d3d3d3;
}
.toptrack:nth-child(even) {
    background-color: #F9F9F9;
}

/************************ END ****************************/


/*********************** EVENTS **************************/

.event {}
.eventTitle {
    border: 5px #1b1b1b solid;
    text-align: center;
    vertical-align: center;
    font-size: 2em;
    background-color: #1b1b1b;
    color: #e31b23;
    font-weight: bold;
    margin-top: 30px;
}
.eventContents {
    border: 10px #e31b23 double;
    border-top: none;
}
.headliner {
    background-color: #2E9AFE;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    color: #FFBF00;
    font-style: italic;
}
.artistHeading {
    padding: 5px 10px 2px 5px;
    font-size: 1.1em;
    color: #1A95DA;
    margin-left: 20px;
}
.eventArtist {
    font-size: 0.9em;
    padding: 5px 10px 1px 5px;
    margin-left: 40px;
}
.eventDate:before {
    content: "Date & Time: ";
    color: #1A95DA;
}
.eventDate {
    margin-left: 20px;
    padding: 10px 10px 2px 5px;
}
.eventURL {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px 2px 5px;
    border-bottom: 2px #1b1b1b solid;
}
.eventURL a:link {
    color: #1A95DA;
    text-decoration: none;
}
.eventURL a:visited {
    color: #1A95DA;
}
.eventURL a:hover {
    color: #e31b23;
}
.eventTag {
    display: inline-block;
    border: hidden;
    border-radius: 25px;
    margin: 5px 30px 5px 30px;
    padding: 5px 6px 5px 6px;
    color: #fff;
    background-color: #1A95DA;
    text-align: center;
    font-size: 0.7em;
}

/************************ END ****************************/


/********************** SEARCH PAGE **********************/

.searchHeading {
    font-size: 1.3em;
    color: #e31b23;
}
.searchedArstist {
    display: inline-block;
    width: 262px;
    margin: 5px 10px 40px 10px;
}
#artistsResult .artistImage {
    float: none;
}
#artistsResult .artistName {
    margin: 0px;
    font-size: 1.2em;
    width: 262px;
}
#tracksResult .trackName {
    margin: 5px 20px 40px 20px;
    padding: 5px 15px 5px 15px;
    font-size: 1.2em;
    display: inline-block;
}
#tracksResult .trackArtist a:before {
    content: "By: ";
    color: #1A95DA;
}
#tracksResult .trackArtist {
    margin: 5px 20px 40px 10px;
    padding: 5px 15px 5px 5px;
    font-size: 0.9em;
    display: inline-block;
    font-style: italic;
}
#tracksResult a:link {
    text-decoration: none;
    color: #151515;
}
#tracksResult a:visited {
    color: #151515;
}
#tracksResult a:hover {
    color: #151515;
}
#tracksResult .trackName a:link {
    font-style: none;
}
#tracksResult .trackArtist:hover {
    color: #1A95DA;
    background-color: #f9f9f9;
}
#tracksResult .trackName:hover {
    color: #1A95DA;
    background-color: #f9f9f9;
}
#tracksResult .trackArtist a:hover {
    color: #1A95DA;
}
#tracksResult .trackName a:hover {
    color: #1A95DA;
}

/************************ END ****************************/
