html, body {
  margin:0; 
  padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	text-align: justify;
}

/***** Banner *****/
#banner {
	background-color: #75FF75;
	border-bottom: 10px #52B252 solid;
	padding: 5px 20px 5px 20px;
}

#logo {
	width: 280px;
	height: 80px;
}

#verified {
	float: right;
}

#verified img{
	position: relative;
	top: 25px;
}
/*----------------*/		

#main-wrapper{
	border-left: 50px solid aqua;
	border-right: 50px solid aqua;
}

/***** Navigation Bar *****/

#navigation{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: #FF6600;
}
/* First level*/
#nav-bar {
	margin: 0;
	padding: 0;
	height: 2em;
}

#nav-bar li {
	list-style: none;
	float: left; 
}

#nav-bar li a {
	display: block;
	padding: 7px 16px;
	color: #fff;
	text-decoration: none; 
}

#nav-bar li:hover a {
	background-color: #fff;
	color: #FF6600;
}

/* Second level */
#nav-bar li ul {
	display: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: none; 
	width: 15em;
}

#nav-bar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; 
}

#nav-bar li:hover li {
	float: none; 
}

#nav-bar li:hover li a {
	background-color: silver;
	border-bottom: 1px dotted #FF6600; 
	color: #FF6600; 
}

#nav-bar li li a:hover {
	background-color: #fff; 
}
/*------------------------*/

/***** Page Content *****/

#page-content {
	margin-left: 25px;
	margin-right: 20px;
}

/***** Intro section *****/

/* Intro heading */
#page-title {
	font-family: Verdana, Geneva, sans-serif;
	color: gray;
	border-bottom: 3px dotted blue;
}

/* Intro para */
#intro p {
	padding-left: 20px;
	padding-right: 15px;

	line-height: 1.8em;
	
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

#intro p:last-child {
	padding-bottom: 1.5em;
	border-bottom: 3px double red;
}
/*------------------------*/


/***** Sections *****/

/* Section heading*/
.section h2 {
	margin-top: 40px;
	padding-bottom: 4px;

	font-family: Verdana, Geneva, sans-serif;
	color: black;
	
	border-bottom: 2px dotted blue;
}

/* Section para */
.section p {
	padding-left: 20px;
	padding-right: 15px;

	line-height: 1.6em;
	
	margin-top: 0.5em;
	margin-bottom: 1.20em;
}

/* Section lists */
.section ul {
	margin-left: 15px;
	margin-right: 50px;
}

.section ul li {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	line-height: 1.4em;
}

.section ul li:last-child{
	padding-bottom: 15px;
}
/*-----------------------*/


/***** Sub-sections *****/

/* Sub-section heading */
.sub-section h3 {
	margin-top: 30px;
	padding-bottom: 1px;

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: gray;
}

.sub-section p {
	line-height: 1.4em;
}
/*---------------------*/

/***** CODES *****/
code {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}

/* Inline Code */
.pseudo {
	font-style: italic;

	background-color: #A0AEAE;
	color: #fff;

	margin-left: 2px;
	margin-right: 2px;

	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Code boxes */
.src-code {
	font-weight: bold;

	background-color: #FFCC66;
	color: #990033;

	padding-right: 15px;
	padding-left: 20px;

	margin-left: 15px;
	margin-right: 45px;

	border: 2px solid #000;

	overflow: scroll;
}

/***** REFERENCE *****/
#reference h2{

	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 5px;

	font-family: Verdana, Geneva, sans-serif;
	color: #660066;
	
	border-top: 2px dashed blue;
	border-bottom: 2px dashed blue;
}

#reference li {
	font-style: italic;
	color: gray;
	line-height: 1.3em;

	margin-bottom: 0.5em;
}

#reference li a{
	font-style: italic;
	color: #75A3FF;
}

#reference li a:target{
	background-color: #C6C6A9;
	font-weight: bold;
	color: #000;
}

#reference {
	padding-bottom: 5px;
	border-bottom: 2px double red;
}